.timerContainer {
    background: #f4f4f4;
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.timerContent {
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 30px; 
    margin: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    border-radius: 5px;
}

.timerContent ul {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    gap: 10px;
    justify-content: center; 
}

.timerContent li {
    cursor: pointer; 
    padding: 10px 15px; 
    border: 1px solid #282c34;
    border-radius: 10px; 
    transition: background-color 0.3s, color 0.3s; 
}

.timerContent li:hover,
.timerContent li.active {
    background: #282c34; 
    color: white; 
}

.configureButton {
    margin-top: 20px; 
    cursor: pointer; 
    padding: 10px 5px; 
    border: 1px solid #282c34; 
    border-radius: 10px;
    transition: background 0.3s, color 0.3s; 
}

.configureButton:hover,
.configureButton.active {
    background: #282c34; 
    color: white; 
}


@media (min-width: 500px) and (max-width: 830px) { 
    .timerContent {
        max-width: 620px;
        width: 100%;
        max-height: 580px;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {   
    .timerContent ul {
        flex-direction: column;
    }  
}