.inputField {
    margin-bottom: 20px; 
}

.inputField input {
    border: none; 
    border-bottom: 1px solid rgba(68, 68, 68, 0.2); 
    outline: none; 
    padding: 5px; 
    font-size: 16px;
}

.inputField input::-webkit-inner-spin-button,
.inputField input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputField input:focus {
    border-bottom: 2px solid #282c34;
}

@media screen and (max-width: 500px) {   
    .inputField {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 10px;
    }
    
    .inputField input {
        max-width: 100px;
    }

    .inputField label {
        font-size: 14px;
    }
}