.description {
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 25px;
}

@media screen and (max-width: 500px) {
    .description {
        font-size: 15px;
        margin-bottom: 10px;
    }
}